@media (max-width: 749px) {
  body {
    font-size: 15px;
  }

  .top-image {
    display: none;
  }

  h1 {
    font-size: 24px;
  }

  article h5 {
    font-size: 20px;
  }

  h6 {
    margin-bottom: 13px;
  }

  header {
    margin-bottom: 40px;
  }

  header .logo {
    float: none;
  }

  header nav {
    font-size: 14px;
    padding: 20px 0;

    & a:first-child {
      display: none;
    }

    & a + a {
      margin-left: 10px;
    }
  }

  nav {
    font-size: 17px;
  }

  .detail-page .stat {
    margin-top: -20px;
  }

  .font-list-wrapper {
    display: none;
  }

  main {
    display: block;
  }

  main section {
    width: 100%;
    padding-right: 5px;
  }

  main aside {
    width: 100%;
    padding-left: 5px;
  }

  article {
    margin-bottom: 60px;
  }

  .detail-page-info {
    display: none;
  }

  article .params-line .params {
    display: none;
  }

  article .params-line .params-link {
    width: 100%;
  }

  .font-filter .filter-link {
    top: 2px;
  }

  .form-section.form-section-input button {
    line-height: 38px;
  }

  .form-section .form-section-group {
    @include flex();
  }

  .form-section .form-section-group label {
    @include flex-grow(2);

    width: 49.9%;
  }

  .form-section {
    margin-bottom: 15px;
  }

  footer .site-width {
    display: block;
  }

  footer .menu-col {
    width: 100%;
  }

  footer .info-col {
    display: none;
  }
}
