@media (max-width: 999px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 26px;
  }

  article h5 {
    font-size: 23px;
  }

  h6 {
    line-height: 1.95em;
  }

  header .logo a img {
    width: 58px;
  }

  nav {
    font-size: 16px;
  }

  .font-filter .filter-link {
    top: 6px;
  }

  header nav a {
    margin-right: 5px;

    & + a {
      margin-left: 20px;
    }
  }

  .form-section {
    margin-bottom: 25px;
  }

  .form-section .form-section-group {
    display: block;
  }

  .form-section .form-section-group label {
    display: block;
    width: 100%;
  }

  .select-group {
    display: none;
  }

  .form-section .reset-link {
    display: none;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
  }

  footer .menu-col,
  footer .info-col {
    width: 45%;
  }

  footer .menu-col nav a {
    width: 35%;
    margin: 0 5% 15px 0;
  }
}
