footer {
  background: #282828;
  padding: 60px 0 40px 0;

  .site-width {
    @include flex();
    @include flex-justify();

    padding: 0 30px;
  }

  .menu-col {
    @include flex-order(0);

    width: 40%;

    nav {
      a {
        display: inline-block;
        width: 30%;
        margin: 0 10% 15px 0;
        color: #fff;

        &:hover {
          color: #888;
          text-decoration: none;
        }

        &:before {
          content: '• ';
        }
      }
    }
  }

  .info-col {
    @include flex-order(1);

    width: 40%;
    color: #c8c8c8;

    .info {
      font-size: $fontSmallest
    }
  }

  h6 {
    color: #fff;

    &:before {
      @include gradient(#4b4b4b, #0055bb, 30%);
    }
  }

  .copy {
    margin-top: 50px;
    color: #777;
    font-size: $fontSmallest
  }
}
