@mixin block($width, $height: $width) {
  display: block;
  width: $width;
  height: $height;
}

@mixin inline-block($width, $height: $width) {
  display: inline-block;
  width: $width;
  height: $height;
}

@mixin trans($type: all) {
  transition: $type .3s ease;
}

@mixin gradient($colorGray, $colorBright, $percent) {
  background: $colorGray;
  background: -moz-linear-gradient(left, $colorBright 0%, $colorGray $percent);
  background: -webkit-linear-gradient(left, $colorBright 0%, $colorGray $percent);
  background: linear-gradient(to right, $colorBright 0%, $colorGray $percent);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055bb', endColorstr='$colorGray',GradientType=1 );
}

@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

@mixin flex-justify() {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin flex-align() {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@mixin flex-grow($count) {
  -webkit-box-flex: $count;
  -ms-flex-positive: $count;
  flex-grow: $count;
}

@mixin flex-order($val) {
  -webkit-box-ordinal-group: $val + 1;
  -ms-flex-order: $val;
  order: $val;

  .no-flexbox.no-flexboxlegacy & {
    float: if($val == 0, left, right);
  }
}
