$colorBlue: #05b;
$colorBlueDark: darken($colorBlue, 7);

$fontSmallest: 13px;
$fontSmall: 15px;
$fontNormal: 18px;
$fontBig: 22px;

$fontBase: 'Roboto', sans-serif;
$fontAccent: 'PT Sans', sans-serif;
