<div class="font-filter js-collapse-block" data-expand-on-click="1">
  <div class="filter-link font-accent js-collapse-link" data-text-collapse="Expand ▼" data-text-expand="Collapse ▲">Expand ▼</div>
  <h6>Font Filter</h6>

  <form action="javascript:void(0);" method="post">
    <div class="form-section form-section-input">
      <button><i class="fas fa-search"></i></button>
      <input type="text" name="query" id="query" value="" placeholder="Search" />
    </div>

    <div class="hidden-fields">
      <div class="form-section">
        <h6>Type</h6>
        <div class="form-section-group clear">
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="type-ttf" id="type-ttf" value="1" /> <span>TrueType <small class="font-accent">.ttf</small></span><span class="custom-control-indicator"></span></label>
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="type-otf" id="type-otf" value="1" /> <span>OpenType <small class="font-accent">.otf</small></span><span class="custom-control-indicator"></span></label>
        </div>
      </div>

      <div class="form-section">
        <h6>Weight</h6>
        <div class="form-section-group clear">
          <label class="custom-control custom-control-checkbox">
            <input type="checkbox" name="weight[]" id="weight-ExtraLight" value="1" />
            <span>ExtraLight <small class="font-accent">200</small></span>
            <span class="custom-control-indicator"></span>
          </label>

          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="weight[]" id="weight-Light"      value="1" /> <span>Light     <small class="font-accent">300</small></span><span class="custom-control-indicator"></span></label>
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="weight[]" id="weight-Regular"    value="1" /> <span>Regular   <small class="font-accent">400</small></span><span class="custom-control-indicator"></span></label>
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="weight[]" id="weight-Medium"     value="1" /> <span>Medium    <small class="font-accent">500</small></span><span class="custom-control-indicator"></span></label>
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="weight[]" id="weight-SemiBold"   value="1" /> <span>SemiBold  <small class="font-accent">600</small></span><span class="custom-control-indicator"></span></label>
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="weight[]" id="weight-Bold"       value="1" /> <span>Bold      <small class="font-accent">700</small></span><span class="custom-control-indicator"></span></label>
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="weight[]" id="weight-ExtraBold"  value="1" /> <span>ExtraBold <small class="font-accent">800</small></span><span class="custom-control-indicator"></span></label>
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="weight[]" id="weight-Black"      value="1" /> <span>Black     <small class="font-accent">900</small></span><span class="custom-control-indicator"></span></label>
        </div>
      </div>

      <div class="form-section">
        <h6>Style</h6>
        <div class="form-section-group clear">
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="style-italic" id="style-italic" value="1" /> <span>Italic</span><span class="custom-control-indicator"></span></label>
          <label class="custom-control custom-control-checkbox"><input type="checkbox" name="style-normal" id="style-normal" value="1" /> <span>Normal</span><span class="custom-control-indicator"></span></label>
        </div>
      </div>

      <div class="form-section select-group">
        <h6 class="no-underline">Order</h6>
        <div class="select-wrapper">
          <select name="order" class="js-select">
            <option value="0" selected>By alphabet</option>
            <option value="1">By downloads</option>
          </select>
        </div>
      </div>

      <div class="form-section select-group">
        <h6 class="no-underline">Show</h6>
        <div class="select-wrapper">
          <select name="glyphs" class="js-select">
            <option value="1" selected>Unicode fonts</option>
            <option value="0">All fonts with glyphs</option>
          </select>
        </div>
      </div>

      <div class="form-section form-section-submit">
        <input type="submit" value="Search" />
        <a href="javascript:void(0);" class="reset-link">Reset</a>
      </div>
    </div>
  </form>
</div>
