<div class="font-list-wrapper js-collapse-block">
  <h6>Font List</h6>
  <div class="font-list">
    <div class="font-list-gradient js-collapse-link"></div>
    <a href="/font-detail.html">Arial</a>
    <a href="/font-detail.html">Sylfaen</a>
    <a href="/font-detail.html">Times Unicode</a>
    <a href="/font-detail.html">TITUS Cyberbit Basic</a>
    <a href="/font-detail.html">Tribuno</a>
    <a href="/font-detail.html">Arial</a>
    <a href="/font-detail.html">Sylfaen</a>
    <a href="/font-detail.html">Times Unicode</a>
    <a href="/font-detail.html">TITUS Cyberbit Basic</a>
    <a href="/font-detail.html">Tribuno</a>
    <a href="/font-detail.html">Arial</a>
    <a href="/font-detail.html">Sylfaen</a>
    <a href="/font-detail.html">Times Unicode</a>
    <a href="/font-detail.html">TITUS Cyberbit Basic</a>
    <a href="/font-detail.html">Tribuno</a>
    <a href="/font-detail.html">Arial</a>
    <a href="/font-detail.html">Sylfaen</a>
    <a href="/font-detail.html">Times Unicode</a>
    <a href="/font-detail.html">TITUS Cyberbit Basic</a>
    <a href="/font-detail.html">Tribuno</a>
  </div>
  <div class="font-link font-accent js-collapse-link" data-text-collapse="▼ Expand ▼" data-text-expand="▲ Collapse ▲">▼ Expand ▼</div>
</div>
