<article>
  <div class="font-title">
    <h5><a href="/font-detail.html" title="Arial free font">Arial Regular</a></h5>
    <span class="version font-accent">&nbsp;(.ttf, variant 1)</span>
  </div>
  <div class="font-sample">
    <img data-original="" class="js-lazy" alt="Arial Regular sample" src="">
  </div>

  <div class="params-line">
    <div class="params">
      <div class="font-downloads font-accent">5709 downloads &nbsp;::&nbsp; 19607 views</div>
    </div>
    <div class="params-link">
      <a href="/font-detail.html" class="font-detail-link font-accent" title="Download Arial font family">
        <i class="fas fa-font"></i> <span>Font details</span>
      </a>
    </div>
  </div>
</article>
