<article>
  <div class="font-title">
    <h5>Arial Regular</h5>
    <span class="version font-accent">&nbsp;(.ttf, variant 1)</span>
  </div>
  <div class="font-sample">
    <img data-original="" class="lazy" alt="Arial Regular sample"
         width="700" height="160" src="" style="display: inline;">
  </div>

  <div class="params-line">
    <div class="params">
      <div class="params-title">Description:</div>
      <div class="param"><span class="font-accent">Font weight:</span> Regular</div>
      <div class="param"><span class="font-accent">Font style:</span> Normal</div>
      <div class="param"><span class="font-accent">Font format:</span> TrueType</div>
      <div class="param"><span class="font-accent">Original full name:</span> Arial</div>
      <div class="param"><span class="font-accent">Manufacturer:</span> Unknown</div>
    </div>

    <div class="params-link">
      <a href="/font-detail.html" class="font-detail-link font-accent" title="Download Arial font family">
        <i class="fas fa-download"></i> <span>Download font</span>
      </a>
    </div>
  </div>
</article>
