<footer>
    <div class="site-width clear">
        <div class="menu-col">
            <h6>Links</h6>
            <nav>
                <a href="/">Home</a>
                <a href="/install-fonts.html">Install fonts</a>
                <a href="/about.html">About</a>
                <a href="/contacts.html">Contacts</a>
            </nav>
        </div>
        <div class="info-col">
            <h6>About</h6>
            <div class="info">
                All fonts on one site!<br />
                Download free fonts right now.
            </div>
        </div>
    </div>
    <div class="site-width">
        <div class="copy">© 2015-2018 Fonts</div>
    </div>
</footer>
</body>
</html>
