${ require('./partials/header.html') }
<main class="site-width clear">
  <aside>
    ${ require('./partials/filter.html') }

    ${ require('./partials/font-list.html') }
  </aside>

  <section>
    <h1>Contacts</h1>

    <p>If you have any information for the site administrator, please fill this form.</p>
    <br />

    <div class="form-section form-section-input">
      <input type="text" name="contact[name]" id="name" value="" tabindex="1" placeholder="Your name" />
    </div>

    <div class="form-section form-section-input">
      <input type="text" name="contact[email]" id="email" value="" tabindex="2" placeholder="Email" />
    </div>

    <div class="form-section form-section-input">
      <textarea name="contact[message]" id="message" cols="1" rows="1" tabindex="3" placeholder="Message"></textarea>
    </div>

    <p class="form-hint font-accent">All fields are required</p>

    <div class="form-section form-section-submit">
      <input type="submit" value="Submit" />
    </div>
  </section>
</main>
${ require('./partials/footer.html') }
