${ require('./partials/header.html') }
<main class="site-width clear">
  <aside>
    ${ require('./partials/filter.html') }

    ${ require('./partials/font-list.html') }
  </aside>

  <section class="detail-page">
    <h1>Arial font</h1>

    <div class="detail-page-info js-collapse-block">
      <div class="back-link">
        <i class="fas fa-long-arrow-alt-left"></i> Back to all <a href="/index.html">Fonts</a> list
      </div>

      <p>You can download and use this font for all modern version of Windows OS, Linux or Mac OS.
        <a href="javascript:void(0);" class="detail-page-more js-collapse-link">more...</a></p>

      <div class="more-text">
        <p>Some text... Welcome to Bitbucket Cloud's tutorial training ground! The tutorials you find here will equip you with the skills you need for a successful launch into the cosmos of Bitbucket. Bitbucket is a vast open space filled with star users, systems that provide a home for your code, and pull requests shooting towards you like asteroids. What better way to get started than taking off and jumping right into an assignment?</p>
        <p>Welcome to Bitbucket Cloud's tutorial training ground! The tutorials you find here will equip you with the skills you need for a successful launch into the cosmos of Bitbucket. Bitbucket is a vast open space filled with star users, systems that provide a home for your code, and pull requests shooting towards you like asteroids. What better way to get started than taking off and jumping right into an assignment?</p>
        <p>Hoping to learn the ropes of Bitbucket? Good news cadet! You've just been put in charge of running your team's space stations. To complete your first mission, take advantage of what Git has to offer to track down all station locations.</p>
      </div>
    </div>


    <div class="stat">
      <div class="font-accent">Fonts in group: 5</div>
      <div class="font-accent">Views: 19787</div>
      <div class="stars">
        <div class="front">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
        <div class="back">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </div>
      </div>
    </div>

    ${ require('./partials/font-detail.html') }
    ${ require('./partials/font-detail.html') }

    <div class="random-fonts">
      <h6>Try other popular:</h6>
      <a href="/font-detail.html">download FreeSans font</a>
      <a href="/font-detail.html">download TITUS Cyberbit Basic font</a>
      <a href="/font-detail.html">download FMBF Tahoma font</a>
    </div>
  </section>
</main>
${ require('./partials/footer.html') }
