${ require('./partials/header.html') }
<main class="site-width clear">
  <aside>
    ${ require('./partials/filter.html') }

    ${ require('./partials/font-list.html') }
  </aside>

  <section class="preview-page">
    <h1>Download fonts</h1>

    <div class="fonts-found font-accent">Fonts found: 100</div>

    ${ require('./partials/font-preview.html') }
    ${ require('./partials/font-preview.html') }
    ${ require('./partials/font-preview.html') }
  </section>
</main>
${ require('./partials/footer.html') }
